#masterbody {
    background-color: rgb(71, 64, 64);
    width:max-content;
    padding-left: 10vw;
    
    }
    
    #masterdiv {
        background-color: black;
        width: 80vw;
        height: 175vh;
        color: blanchedalmond;
       
    }
    
    
    
    @media screen and (max-width: 700px) {
        #masterbody{ 
      background-color: greenyellow;
    }
    }
    
    @media screen and (max-width: 700px) {
        #masterdiv{
            background-color: blueviolet;
            font-size:3vh;
        }
    }
    
    

    #toptr :hover {
        cursor: pointer;
        display: flex;
        background-color: rgb(45, 78, 12)
        
        
    }
    #spacebetween {
        height: 3vh;
        width: 100%;
        background-color: rgb(175, 136, 85);;
    }
    
    a {
        color: blanchedalmond;
        padding-right: 10px;
    }
    #button2 {
        height: 20px;
        width: 60px;
        background-color: darkgrey;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        text-transform: capitalize;
    }
    #button2:hover {
        background-color: lightcoral;
    }